<head>
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    {% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p style="color: red; font-weight: bold;"> {{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
    <h1>Add Field Activity</h1>
    <div class="form-group">
        <form action="/publish_field_sheet" method="POST">
            <div><span>Project ID: {{schedule_item.project_id[0]}}</span></div>
            <input type="hidden" name="project_id" value="{{schedule_item.project_id[0]}}">
            <div><span>Schedule ID: {{schedule_item.schedule_id[0]}}</span></div>
            <input type="hidden" name="schedule_id" value="{{schedule_item.schedule_id[0]}}">
            <div><span>Activity Type: {{schedule_item.discipline[0]}}</span></div>
            <input type="hidden" name="field_representative" value="{{schedule_item.field_representative[0]}}">
            <div><span>Field Representative: {{schedule_item.field_representative[0]}}</span></div>
            <input type="hidden" name="discipline" value="{{schedule_item.discipline[0]}}">
            <label for="field_activity_date">Date:</label>
            <input type="date" name="field_activity_date" class="form-control"></input>
            <label for="start_time">Start Time:</label>
            <input type="text" name="start_time" class="form-control"></input>
            <label for="end_time">End Time:</label>
            <input type="text" name="end_time" class="form-control"></input>
            <label for="general_location">General Location:</label>
            <input type="text" name="general_location" class="form-control"></input>
            <input type="submit" value="Add Item" class="form-control">
        </form>
    </div>