<head>
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    {% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p style="color: red; font-weight: bold;"> {{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
    <h1>{{item.schedule_id[0]}}</h1>
    <div class="border" style="margin-bottom: 5vh;">
        <div class="col-4" >
            <span>Project Number: {{ item.project_id[0] }}</span><br>
            <span>Field Rep: {{ item.field_representative[0] }}</span><br>
        </div>
        <div class="col-4">
            <span>Schedule: {{ item.start_time[0] }}, {{ item.date[0] }}</span><br>
            <span>Discipline: {{ item.discipline[0] }}</span><br>
        </div>
    </div>    
    <div class="form-group">
        <!-- On submit this will change the values of field_report_received/approved as dictated and will redirect back to the schedule item page. -->
        <!-- Probably not the best way to implement this... --> 
        <form action="/receive_field_report" method="POST">
            <div class="list-group" style="margin-bottom: 1vh;">
                <input type="hidden" value="{{item.schedule_id[0]}}" name="schedule_id">
                <input type="hidden" value="{{item.project_id[0]}}" name="project_id">
            </div>
            <div class="input-group" style="margin-bottom: 1vh;">
                <input type="checkbox" value="true" name="field_report_received" class="form-check-input" style="padding-right: 1vw;" checked>
                <label for="field_report_received" class="form-check-label" style="padding-right: 1vw;">Field Report Received</label>
            </div>
            <input type="submit" value="Update Status" class="form-control" >
        </form>
    </div>
    {% if item.discipline[0] == "Concrete Sampling" %}
    <div class="form-group">    
        <form action="/concrete_redirect" method="POST">
            <input type="hidden" name="schedule_id" value="{{item.schedule_id[0]}}">
            <button>Add Concrete Field Sheet</button>
        </form>
        </div>
    {% elif item.discipline[0] == "Soil Sampling"%}
        <p>This is a soil sampling</p>
    {% elif item.discipline[0] == "Inspection"%}
        <p>This is an inspection</p>
        {% endif %}
</body>